<?xml version='1.0' encoding='utf-8'?>
<widget id="ru.one-touch.getlunch" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GetLunch</name>
    <description>
        GetLunch - application for search lunch
    </description>
    <author email="dpv@one-touch.ru" href="http://one-touch.ru">
        Agency ONE TOUCH
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>