<?xml version='1.0' encoding='utf-8'?>
<widget id="getLunch" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>getLunch</name>
    <description>
        Мобильное приложение «Getlunch» является информационным ресурсом, позволяющим быстро найти заведение, в котором есть бизнес-ланч.
    </description>
    <author email="getlunch@getlunch.ru" href="http://getlunch.ru">
        Agency ONE TOUCH
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
