<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.nypr.cordova.googleanalyticsplugin"
    version="0.1.0">
    <name>Google Analytics Plugin</name>
    <description>Google Analytics Plugin</description>
    <license>Apache 2.0</license>
    <keywords>google,analytics</keywords>
    <repo>https://github.com/wnyc/cordova-plugin-googleanalytics.git</repo>

    <js-module src="www/googleanalytics.js" name="GoogleAnalytics">
      <clobbers target="googleanalytics"/>
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="GoogleAnalyticsPlugin" >
                <param name="android-package" value="org.nypr.cordova.googleanalyticsplugin.GoogleAnalyticsPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
          <uses-permission android:name="android.permission.INTERNET" />
          <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>

        <source-file src="src/android/GoogleAnalyticsPlugin.java" target-dir="src/org/nypr/cordova/googleanalyticsplugin/" />
        <resource-file src="res/android/" target="res" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="GoogleAnalyticsPlugin">
                <param name="ios-package" value="GoogleAnalyticsPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/GoogleAnalyticsPlugin.h" />
        <header-file src="src/ios/GAI.h" />
        <header-file src="src/ios/GAIFields.h" />
        <header-file src="src/ios/GAITracker.h" />
        <header-file src="src/ios/GAITrackedViewController.h" />
        <header-file src="src/ios/GAILogger.h" />
        <header-file src="src/ios/GAIDictionaryBuilder.h" />

        <source-file src="src/ios/GoogleAnalyticsPlugin.m" />

        <source-file src="src/ios/libGoogleAnalyticsServices.a" framework="true" />
        <framework src="SystemConfiguration.framework" />
        <framework src="CoreData.framework" />
        <framework src="AdSupport.framework" />
        <framework src="libz.dylib" />
    </platform>
</plugin>
